

<form action="/tasks/<%=params['id']%>/delete" method="post">
<label>Are you sure?</label><br>
<input type="radio" name="delete" value="yes"> Yes, delete task
<br>
<button>Delete Task</button>
</form>


<a href="/tasks">Go Back</a>