
<form action="/tasks/<%=params['id']%>" method="post">
<label for="new_name">Task:</label><br>
<input type="text" name="new_name"><br>
<label for "new_details">Details:</label><br>
<textarea name="new_details"></textarea><br>
<button>Edit Task</button>
</form>