

<form action="/tasks" method="post">
<label for="name">Task:</label><br>
<input type="text" name="name"><br>
<label for "details">Details:</label><br>
<textarea name="details"></textarea><br>
<button>Create Task</button>
</form>